@font-face {
    font-family: Quicksand;
    src: url(quicksand_book.otf);
}

#header {
    text-align: center;
    font-family: Quicksand;
}

.footer {
    text-align: center;
}

#homeImage {
    padding-top: 15px;
    padding-bottom: 10px;
}

#homeText {
    max-width: 400px
}

.homeMain {
    background-color: #d5bce2;
    padding-bottom: 1px;
}

#beverages {
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 1px 25px 10px 25px;
}

.drinkName{
    text-align: left;
    border-bottom: 1px dotted black;
}

.drinkPrice{
    text-align: right;
    border-bottom: 1px dotted black;
}

#navigationMenu a:link {
    text-decoration: underline;
    color: blue;
}

#navigationMenu a:visited {
    text-decoration: underline;
    color:darkslateblue;
}

#navigationMenu a:hover {
    text-decoration: underline;
    color: darkseagreen;
    font-weight: bold;
}
            
#navigationMenu a:active {
    text-decoration: none;    
}

#navbar {
    margin-top: 5px;    
}
