.center {
    margin: auto;
    text-align: center;
}

td {
    text-align: center;
}

td:nth-child(1) {
    font-style: italic;
}

table, tr, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

a:link {
    text-decoration: none;
    color: blue;
}

a:visited {
    text-decoration: none;
    color: darkorchid;
}

a:hover {
    text-decoration: underline;
    color: cyan;
    background-color: forestgreen;
}

a:active {
    font-weight: bold;
}

#hr {
    width: 100%;
    height: 1px;
    background: black;
    overflow: hidden;"
}

@font-face {
    font-family: Quicksand;
    src: url(quicksand_book.otf);
}

#albumTitle {
    font-family: Quicksand;
}

#membersTitle {
    font-family: Quicksand;
}

li {
    font-style: italic;
    
}

#albumPic {
    height: 300px;
    width: 300px;
    background: url("https://upload.wikimedia.org/wikipedia/en/d/df/Chvrches_-_The_Bones_of_What_You_Believe.png") no-repeat scroll center;
    margin: auto;
}