.center {
    margin: auto;
    text-align: center;
}

td {
    text-align: center;
}

a:link {
    text-decoration: underline;
    color: blue;
}

a:visited {
    text-decoration: underline;
    color: darkorchid;
}

a:hover {
    text-decoration: none;
    color: cyan;
    font-weight: bold;
}

#hr {
    width: 100%;
    height: 1px;
    background: black;
    overflow: hidden;"
}