@font-face {
    font-family: Quicksand;
    src: url(quicksand_book.otf);
}

#header {
    text-align: center;
    font-family: Quicksand;
}

.footer {
    text-align: center;
}

#topFooterLine {
    margin-top: 160px;
}

#homeImage {
    padding-top: 15px;
}

.homeMain {
    background-color: #d5bce2;
    padding-bottom: 1px;
}